<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.gh6.daemon</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/umoho/.cargo/bin/gh6d</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/umoho/.local/share/gh6/gh6d.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/umoho/.local/share/gh6/gh6d.log</string>
</dict>
</plist>
